<input type="text" class="form-control" [(ngModel)]="userInput" />

<button
  class="btn btn-primary"
  [disabled]="!userInput"
  (click)="addTestServerName()"
>
  Add server
</button>
<p *ngIf="serverName; else noServerCreated">
  Server name: {{ serverName }} created
</p>
<app-servertest *ngFor="let server of servers"></app-servertest>
<ng-template #noServerCreated>
  <p>Server not created yet</p>
</ng-template>

<p
  [ngStyle]="{ backgroundColor: getColor() }"
  [ngClass]="{ online: serverStatus === 'Online' }"
>
  ServerID:{{ serverId }} : {{ serverStatus }}
</p>

<p
  [ngStyle]="{ backgroundColor: getColor() }"
  [ngClass]="{ offline: serverStatus === 'Offline' }"
>
  ServerID:{{ serverId }} : {{ getServerStatus() }}
</p>
